{% extends 'node_main.twig' %}

{% block breadcrumbCurrentPage %}List{% endblock %}

{% block content %}
    <div class="container">
    <h1 class="page-header">List</h1>

    <div class="row">
        <div id="container" class="container">
        </div>

        {% include 'cluster_nodes_metrics.twig' with {'nodes': nodes} %}
    </div>

    {% include "node_list_block.twig" with {'nodes':nodes} %}
{% endblock %}