{% extends "main.twig" %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/node">Node</a></li>
        <li class="active">{% block breadcrumbCurrentPage %}{% endblock %}</li>
    </ol>
{% endblock %}

{% block content %}
{% endblock %}